
<h2>HandyMan</h2>
<hr />
<ul class="list-group">
  <li routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true}"
      class="list-group-item">
      home
  </li>
  <li routerLink="/consultar-horas"
      routerLinkActive="active"
      style="text-decoration: none"
      class="list-group-item">
      Consultar Horas
  </li>
  <li routerLink="/reporte-servicio"
      routerLinkActive="active"
      style="text-decoration: none"
      class="list-group-item">
      Reporte servicio
  </li>
</ul>